body {
    font-family: 'Roboto',Segue UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f1f3f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #77b300 3px solid;
}

header a {
    color: #8fd58d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 44px;
}

header nav {
    float: right;
    margin-top: 10px;
}

.bio, .work-experience, .skills, .publications, .contact, .projects, .writings {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

section p {
    font-size: 16px;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #6c8f6b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-photo-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

.certificate-image {
    max-width: 50%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect */
}
.work-samples-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.work-sample {
    text-align: center;
}

.work-sample img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}